node_modules
.env

# Hardhat files
/backend/cache
/backend/artifacts

# TypeChain files
/typechain
/backend/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
backend/ignition/deployments/chain-31337

# macOS files
.DS_Store
**/.DS_Store